.body-background {
  background-color: #f5f5f5;
}

.icon-background {
  color: #f5f5f5;
}

.icon-background2 {
  color: #1d66b3;
}

.subtitle {
  color: #1b67b3;
}

.subtitle2 {
  color: #e1ac20;
}

.footer1 {
  background-color: #143b61;
}

.ptV2-5 {
  margin-top: 50px;
}
